

    <%= flash[:notice] %>
   
  
<div class="jumbotron vertical-center">
  <div class="container">
    <h1 class="display-4"><b>Welcome to Glossy </b> </h1>
    <p class="lead">
    <br>  
    
    | <%= link_to "Login", login_path %> | <%= link_to "SignUp", signup_path %> | <%= link_to "Google Login", '/auth/google_oauth2' %> | </p> 

    <br>
  <div class="homepage">


 </div> 

</div>
</div> 


