<%= render partial: 'layouts/errors', locals: {message: @user} %>



<div class="jumbotron vertical-center">
  <div class="container">
    <h1 class="display-4"> Welcome to Glossy!!</h1>
    <h2> <%= @user.username.capitalize%> </h2>

    <p class="lead">
    <br>
    <br>
    
</div>
</div>

