

<h1> All Lip Gloss </h1>


<div class="form">  
   
   <ul>
      <% @lip_gloss.each do |c| %>
      <li > * <%= link_to c.name, {:action => 'show', :id => c.id} %> * <br> </li>
      <% end %>
      
      
      
      <center> <h2> <bold> \ <%= link_to "Add a New Gloss", {:action => 'new' }%> \ </center> </h2>  </bold>
      <br>
 
 
   </ul>
  

</div>

<h1> <center> <p> You're so Glossy! Keep Shining! </p> </center>  </h1>