@import "bootstrap/scss/bootstrap";


.homepage  {
    background-image: url('glossy.png');
    background-repeat: repeat;
    background-attachment: fixed;
    height: 305px; 
    background-position: bottom;
    background-size:  auto;
  }

h1 { 
    font-family: 'Homemade Apple', cursive;
    color: #DB7093;

}

.vertical-center {
    height:100%;
    width:100%;
    background-color: white;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
  }
  
  .vertical-center:before {    /* create a full-height inline block pseudo=element */
    content: " ";
    display: inline-block;
    vertical-align: middle;    /* vertical alignment of the inline element */
    height: 100%;
  }
  
  .vertical-center > .container {
    max-width: 100%;
  
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
                             /* reset the font property */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }