 
<div class="jumbotron vertical-center">
<div class="container">
  <h1 class="display-4">- Login - </h1>
  <p class="lead">

<h1><p> | The Results Are In  <%= @review.lip_gloss.name%> - </h1>| </p> </h1>




<b><i>Would you purchase this gloss? </i></b>
<p> <%= @review.purchase.humanize%>  </p>


<b><i>Thoughts and comments about this gloss: </i></b>  


<p><%= @review.comment%></p>


<h1>Thanks For Your Review ! </h1>
</div>
</div>
